{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "module": {
    "type": "nodenext"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./"
  },
  "minify": false
}
